body{
    background: url("../image/55_104512_9489.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*分类导航*/
.fdd{
    position: relative;
    top: 194px;
}
.nav-tabs{
    border: 0;
    background: rgba(255,255,255,0.2);
    height: 96px;
    padding-top: 17px;
}
.nav-tabs li{
    font-size: 24px;
}
.nav-tabs li a{
    color: #d0d0d0;
    border: 0;
    font-family: '黑体';
}
.nav-tabs li a:hover{
    border: 0;
    color: #ffbc57;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: transparent;
    border: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #ffbc57;
}
.tab-content>.active{
    margin-left: 15px;
}
.nav-tabs img{
    width: 174px;
    position: relative;
    top: -29px;
    margin-left: 107px;
    opacity: 0.6;
}
/*首页*/
.close span{
    outline: none;
}
#home{
    width: 80%;
    margin: auto;
    margin-top: 41px;
    height: 381px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#home div{
    float: left;
    width: 183px;
    color: aliceblue;
    margin-left: 56px;
    margin-bottom: 14px;
}
.tab-pane img{
    height: 93px;
}
.bt:focus{
    outline: none;
}
.modal-bodyi video{
    height: 363px;
}
/*推荐*/
#profile{
    width: 80%;
    margin: auto;
    margin-top: 41px;
    height: 381px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#profile div{
    float: left;
    width: 183px;
    color: aliceblue;
    margin-left: 56px;
    margin-bottom: 14px;
}
/*技术*/
#messages{
    width: 80%;
    margin: auto;
    margin-top: 41px;
    height: 381px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#messages div{
    float: left;
    width: 178px;
    color: aliceblue;
    margin-left: 56px;
    margin-bottom: 14px;
}
/*赛事*/
#settings{
    width: 80%;
    margin: auto;
    margin-top: 41px;
    height: 381px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#settings div{
    float: left;
    width: 161px;
    color: aliceblue;
    margin-left: 73px;
    margin-bottom: 14px;
}
/*娱乐*/
#yule{
    width: 80%;
    margin: auto;
    margin-top: 41px;
    height: 381px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#yule div{
    float: left;
    width: 161px;
    color: aliceblue;
    margin-left: 73px;
    margin-bottom: 14px;
}


@media (max-width: 768px) {
    .nav-tabs li {
        font-size: 25px;
        white-space: nowrap;
        width: 14%;
    }
    .nav-tabs li a img{
        display: none;
    }
    .tab-pane img{
        height: 46px;
    }
    .modal-content{
        width: 681px !important;
    }
    .modal-bodyi video{
        width: 89%;
    }
    #home div,#profile div,#messages div,#settings div,#yule div{
        width: 83px;
        margin-left: 20px;
    }
}
@media (max-width: 500px) {
    .nav-tabs li{
        font-size: 19px;
    }

}